# Utility dirs
/.vscode
**/__pycache__

# EGG files
/*.egg-ingo
/*.egg
/*.egg-info/**

# Python Compiled files
.pyc

# Distribution package folder
/dist/

#Package build files
/data_tests

#Test files
/test.py

# Temp config file
/*.config.md
